@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-clip: border-box;
    color: #fff;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    margin-top: 100px;
}

.header h1 {
    color: #fbb034;
    font-weight: 900;
    text-align: center;
}

.header input{
    width: 100%;
    outline: 0;
    border: 0;
    background: transparent;
    padding: 10px;
    border-bottom: 2px solid #fbb034;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.section--2{
    /* background-color: red; */
    text-align: center;
}

.header input::placeholder{
    color: #fff;
}

.city{
    font-size: 35px;
    margin-top: 30px;
}

.temp{
    font-size: 100px;
    font-weight: 700;
}

.desc{
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 900;
    font-style: italic;
}

.minmax{
    font-size: 24px;
    font-weight: 900;
}